{{template "layout_bef" .}}
<div class="app-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
            {{.Blog.Title}}{{if .Blog.ReleaseDate}}({{.Blog.ReleaseDate}}){{end}}
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{.Blog.Body|raw}}
    </div>
    <div class="mdl-card__menu">
        <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--accent">
            <i class="material-icons">thumb_up</i>
        </button>
        <span class="fab-count">{{.Blog.BlogCount.GoodCount}}</span>
    </div>
</div>
{{template "layout_aft" .}}
