{{template "layout_bef" .}}
{{range $index, $elem := .BlogList}}
<a href="/detail/{{$elem.ID}}">
    <div class="app-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                {{$elem.Title}}{{if $elem.ReleaseDate}}({{$elem.ReleaseDate}}){{end}}
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{mbsubstr $elem.Body 0 10}}
        </div>
    </div>
</a>
{{end}}
{{template "layout_aft" .}}
