{{template "layout_bef" .}}
<ul class="app-wide-list mdl-list">
{{$Categories := .Categories}}
{{range $index, $elem := .BlogList}}
    {{if $elem.ChangeCategory}}
        {{range $cidx, $category := $Categories}}
            {{if eq $category.ID $elem.Category}}
    <h4 class="category">{{$category.Name}}</h4>
            {{end}}
        {{end}}
    {{end}}
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">done</i>
            <span>{{$elem.Title}}</span>
            <span class="mdl-list__item-sub-title">{{$elem.ReleaseDate|datestr}}</span>
        </span>
        <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/detail/{{$elem.ID}}">詳細</a>
        </span>
    </li>
{{end}}
</ul>
{{template "layout_aft" .}}
