{{define "layout_bef"}}
<!DOCTYPE HTML>

<html lang="ja">
    <head>
        <script type="text/javascript"  src="/static/dist/bundle.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <meta name="title" content="{{.mt}}">
        <meta name="Description" content="{{.md}}">
        <meta name="Keywords" content="{{.mk}}">
        <meta name="robots" content="{{.mr}}">
    </head>

    <body>
{{template "ga.html" .}}
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header-waterfall">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">tkoテックブログはじめました</span>
                    <div class="mdl-layout-spacer"></div>
                    {{/*
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" name="search" id="search">
                        </div>
                    </div>
                    */}}
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--9-col">
                        <div class="page-content">
                            <h1 style="font-size: 10px; line-height: 0.4em">{{.mh1}}</h1>
{{end}}
{{define "layout_aft"}}
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <div class="page-content">
{{template "right-column" .}}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
{{end}}
