{{define "right-column"}}
<div class="mdl-card mld-shadow--2dp side-card">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">人気のブログ</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">testtest</span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">testtest</span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">testtest</span>
            </li>
        </ul>
    </div>
</div>
{{end}}
