{{template "layout_bef" .}}
<div class="app-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
            ブログ登録
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form name="form-blog">
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label abs-w-80">
                    <input class="mdl-textfield__input" type="text" name="title" id="title" value="{{.Blog.Title}}">
                    <label class="mdl-textfield__label" for="title">タイトル</label>
                    <span class="mdl-textfield__error"></span>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield abs-w-80">
                    <textarea class="mdl-textfield__input" type="text" rows="30" id="body" name="body">{{.Blog.Body}}</textarea>
                    <label class="mdl-textfield__label" for="body">本文</label>
                    <span class="mdl-textfield__error"></span>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield abs-w-80">
                    <select class="mdl-textfield__input" name="category" id="category">
{{$Blog := .Blog}}
{{range $index, $elem := .Categories}}
    {{if $Blog.Category}}
        {{if eq $Blog.Category $elem.ID}}
                        <option value="{{$elem.ID}}" selected>{{$elem.Name}}</option>
        {{else}}
                        <option value="{{$elem.ID}}">{{$elem.Name}}</option>
        {{end}}
    {{else}}
                        <option value="{{$elem.ID}}">{{$elem.Name}}</option>
    {{end}}
{{end}}
                    </select>
                    <label class="mdl-textfield__label" for="category">カテゴリー</label>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label abs-w-80">
                    <input class="mdl-textfield__input" type="text" name="keywords" id="keywords" value="{{.Blog.Keywords}}">
                    <label class="mdl-textfield__label" for="keywords">keywords</label>
                    <span class="mdl-textfield__error"></span>
                </div>
            </div>
            <div class="mdl-grid">
                <label>公開日</label>
            </div>
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="text" class="mdl-textfield__input datepicker" name="release_date" id="release_date" value="{{if .Blog.ReleaseDate}}{{.Blog.ReleaseDate|datestr}}{{end}}">
                </div>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button type="button" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect clear">クリア</button>
            <button type="button" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect regist-blog">登録</button>
        </div>
        <input type="hidden" name="blog_id" value="{{.Blog.ID}}">
    </form>
</div>
{{template "layout_aft" .}}
